{{# if books }}
	<div class="row">
		<div class="col-md-4 col-sm-6 offset-md-3 offset-sm-3">
			<ul class="list-group marg">
				{{# each books}}
					<li class="list-group-item pad">
						<strong>{{this.item.title}}</strong>
						<span class="badge badge-success">{{this.price}}</span>
						<div class="btn-group">
							<button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    			Action
			  				</button>
			  				<div class="dropdown-menu">
							    <a class="dropdown-item" href="#">Action</a>
							    <a class="dropdown-item" href="#">Reduce by 1</a>
							    <a class="dropdown-item" href="#">Remove all</a>
						  	</div>
						</div>
						<span class="badge badge-secondary spec">{{this.qty}}</span>
					</li>
				{{/each}}
			</ul>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-6 offset-md-3 offset-sm-3">
			<strong>Total: <span id="total">{{totalPrice}}</span></strong>
		</div>
	</div>
	<hr>	
	<div class="row">
		<div class="col-md-4 col-sm-6 offset-md-3 offset-sm-3">
			<a href="/checkout" type="button"class="btn btn-success">Checkout</a>
		</div>	
	</div>
	<div id="paypal-button-container"></div>

{{else}}
	<div class="row">
		<div class="col-md-4 col-sm-6 offset-md-3 offset-sm-3">
			<h2>No items in cart<h2>
		</div>
	</div>
{{/if}}
<form id="paymentForm">
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" id="email-address" required />
  </div>
  <div class="form-group">
    <label for="first-name">First Name</label>    
    <input type="text" id="first-name" />
  </div>
  <div class="form-group">
    <label for="last-name">Last Name</label>
    <input type="text" id="last-name" />
  </div>
  <div class="form-submit">
    <button type="submit" onclick="payWithPaystack()"> Pay </button>
  </div>
</form>
<script src="https://js.paystack.co/v1/inline.js"></script> 

<script>
	var totalPrice = {{{totalPrice}}};
	const paymentForm = document.getElementById('paymentForm');
	paymentForm.addEventListener("submit", payWithPaystack, false);
	function payWithPaystack(e) {
	  e.preventDefault();
	  let handler = PaystackPop.setup({
	    key: 'pk_test_179f97255508e5575179d8a9b0ae206cfce03735', // Replace with your public key
	    email: document.getElementById("email-address").value,
	    amount: totalPrice *100,
	    ref: 'Books'+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
	    // label: "Optional string that replaces customer email"
	    onClose: function(){
	    	window.location="http://localhost:5000/shopping-cart?transaction=cancel"
	      alert('Window closed.');
	    },
	    callback: function(response){
	      let message = 'Payment complete! Reference: ' + response.reference;
	      alert(message);
	      window.location = "http://localhost:5000/verify_transaction?reference=" + response.reference;


	    }
	  });
	  handler.openIframe();
	}
</script>